body{
    margin: 0;
    padding: 0;
}

.wrapper{
    background-image: url('./layered-waves-haikei.svg');
    min-width: 100%;
    min-height: 100vh;
   

    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(26, 24, 24);

    display: flex;
    justify-content: center;
    
    
}

.content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: x-large; 
    width: 100%;

    padding: 1rem 1rem 20rem 1rem;
}

.column1{
    border-right: 1px solid rgb(0, 0, 0);
    padding-right: 4rem;
    
}

.column2{
    line-height: 4rem;
    
}

.column3{
    display: flex; 
   
}

.column4{
    margin-bottom: auto;
    
}

.location{
    font-size: 3.5rem;
    font-weight: 600;
}

.temperature{
    font-size: 4rem;
    font-weight: 600;

    padding-top: 2rem;
}

.description{
    font-size:xx-large;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.lat-long{
    font-size: large;
    
}

input{ 
    width: 15rem;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgb(232, 230, 227);
}

img{
    max-width: 300px;
}

@media only screen and (max-width: 600px) {
    .content{
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .column1{
        border: none;
        padding: 0;
        order: 2;
    }

    .column2{
        line-height: 3rem;
        order: 3;
    }

    .column3{
        order: 4;
    }

    .column4{
        padding-top: 1rem;
        order:1;
        margin-bottom: 2rem;
    }
}
